<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="common-header">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title> Galerie Artisanale</title>


    <link href="/css/bootstrap.min.css" rel="stylesheet" />

    <link href="/css/non-responsive.css" rel="stylesheet" />


    <link th:href="@{/css/jquery.dataTables.min.css}" rel="stylesheet" />
    <link th:href="@{/css/dataTables.bootstrap.min.css}" rel="stylesheet" />

    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />

    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea' });</script>
    <link href="/css/style.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.9.0/css/bootstrap-slider.css">


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.9.0/bootstrap-slider.js"></script>


</head>

<body>
<div th:fragment="navbar">
    <div class="page-top"
         style="width: 100%; height: 20px; background-color: grey;"></div>




    <nav class="navbar navbar-primary navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/}">Galerie Artisanale</a>
            </div>
            <div id="navbar" >
                <ul class="nav navbar-nav navbar-left">
                    <li class="dropdown"><a th:href="@{/galerie}" class="dropdown-toggle"
                                            data-toggle="dropdown" role="button" aria-haspopup="true"
                                            aria-expanded="false">Galerie<span class="caret"></span></a>
                        <ul th:if="${categories != null}"  class="dropdown-menu" >
                            <li th:each="cat : ${categories}"><a th:href="${'/galerie/'+cat}">[[${cat}]]</a></li>
                        </ul>
                    </li>

                    <form class="navbar-form" th:action="@{/searchProduct}" method="post">
                        <div class="form-group">
                            <input type="text" name="keyword" class="form-control"
                                   placeholder="Nom du produit" />
                        </div>
                        <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search" ></i></button>
                    </form>

                </ul>
                <ul class="nav navbar-nav navbar-right" >

                    <li><a th:href="@{/shoppingCart/view}"> <i class="fa fa-shopping-cart"><p th:if="${shoppingCart != null}"> [[${shoppingCart.getCartItemCount()}]]</p></i></a></li>

                    <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}"><i class="glyphicon glyphicon-user"></i></a></li>


                    <li sec:authorize="isAuthenticated()" class="dropdown"><a th:href="@{/galerie}" class="dropdown-toggle"
                                            data-toggle="dropdown" role="button" aria-haspopup="true"
                                            aria-expanded="false"><i class="glyphicon glyphicon-user"></i><span class="caret"></span></a>
                        <ul   class="dropdown-menu" >
                            <li sec:authorize="isAuthenticated()"><a th:href="@{/profile}">Mon profil</a></li>
                            <li sec:authorize="isAuthenticated()"><a th:href="@{/myOrderedList}">Mes commandes</a></li>
                        </ul>
                    </li>

                    <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Déconnexion</a></li>





                </ul>


            </div>
        </div>
    </nav>

</div>

<div th:fragment="footer">
    <br />
    <br />
    <footer>
        <div class="">







            <div class="col-xs-4 ">
                <h6 class="heading7 contact">CONTACT</h6>
                <ul class="post">

                    <p>
                        <i class="fa fa-map-pin"></i> 123 XXX Avenue<br /> Maroc, Tanger

                    </p>


                    <p>
                        <i class="fa fa-phone"></i> Tel (MA) : +212 07586912
                    </p>
                    <p>
                        <i class="fa fa-envelope"></i> E-mail : info@galerieArtisanale.com
                    </p>
                </ul>
            </div>
            <div class="col-xs-4 ">
                <h6 class="heading7">LIENS</h6>
                <ul class="footer-ul">
                    <li><a href="/contactForm" th:href="@{/contact}">Contact</a></li>
                    <!--<li><a href="#"> Vie privée</a></li>-->
                    <li><a href="#"> Conditions</a></li>
                    <li><a href="#"> Questions fréquentes</a></li>
                </ul>
            </div>
            <div class="col-xs-4 ">
                <h6 class="heading7">Heures d'ouvertures</h6>
                <div class="post">
                    <p>Lundi - Samedi: 9h - 23h</p>
                    <p>Dimanche: 10h - 22h</p>
                </div>
            </div>
        </div>
    </footer>

    <div class="copyright">
        <div class="col-md-6">
            <p>© Copyright
                2020 - Tous les droits sont réservés </p>
        </div>


        <div class="col-md-6">
            <ul class=" bottom_ul">
                <li><a href="#" ><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" ><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" ><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#" ><i class="fa fa-instagram"></i></a></li>


            </ul>
        </div>
    </div>
</div>

<div th:fragment="body-bottom-scripts">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/bootbox.min.js}"></script>
    <script th:src="@{/js/script1.js}"></script>
    <script th:src="@{/js/scripts.js}"></script>
    <script th:src="@{/js/scriptGalerie.js}"></script>
    <script th:src="@{/js/scriptCart.js}"></script>
    <script th:src="@{/js/checkEmail.js}"></script>

    <script th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/js/dataTables.bootstrap.min.js}"></script>




</div>


</body>
</html>
