<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/common/header :: common-header"/>


<style>
    body {

        background-image: url("../images/background/background.jpg");
        background-repeat: repeat

    }
</style>

<body>
<div th:replace="admin/common/header :: navbar"/>


<div class="container login">
    <div class="">
        <div class="">
            <h2 ><span>Nouvelle Categorie</span></h2>
        </div>


    </div>



    <div class="">


        <!-- create new category -->
        <div class="panel panel-default" style="border: none;">
            <div class="panel-body"
                 style="background-color:#ededed; margin-top: 20px;">

                <form th:action="@{/product/addCategory}" method="post">


                    <div class="form-group">
                        <label class="col-md-2 control-label" for="categoryName">Nom Categorie</label>&nbsp;<span
                            style="color: red;" th:if="${categoryExists}">Categorie Existe Déja.</span>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="categoryName" name="categoryName"
                                   th:value="${category.categoryName}"
                                   placeholder="" required/>
                            <span class="help-block"></span>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-login">Ajouter une Categorie</button>


                </form>
            </div>


        </div>
    </div>


</div>

<a th:href="@{/product/categoryList}" role="button" class="btn btn-login">List des Categories</a>


<div th:replace="admin/common/header :: body-bottom-scripts"/>

</body>
</html>

