<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/common/header :: common-header" />


<style>
    body{

        background-image: url("../images/background/background.jpg");
        background-repeat: repeat

    }
</style>

<body>
<div th:replace="admin/common/header :: navbar" />

<div class="container">
    <div class="" style="/*margin-bottom: auto*/">
        <div class="alert alert-success" th:if="${addSuccess}">
            <strong>fournisseur Bien Ajouté!</strong>
        </div>

        <div class="text-center">
            <h2 ><span>Ajouter un fournisseur</span></h2>
        </div>


    </div>



    <div class="container login" >
        <div class="">

            <div class="">





                <div class="panel-group">
                    <div class="panel panel-default" style="border: none;">
                        <div class="panel-body" style="background-color:#ededed; margin-top: 20px;">

                            <form th:action="@{/provider/addProvider}" method="post">

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-6">

                                            <label for="providerFirstName">* Prénom</label>
                                            <input required  type="text" class="form-control"
                                                   id="providerFirstName" name="firstName" th:field="*{provider.firstName}" />

                                            <!--<p style="color: #828282">Enter Provider FirstName .</p>-->
                                        </div>

                                        <div class="col-xs-6">
                                            <label for="providerLastName">* Nom</label>
                                            <input required  type="text" class="form-control"
                                                   id="providerLastName" name="lastName" th:field="*{provider.lastName}"/>
                                            <!--<p style="color: #828282">Enter Provider lastName .</p>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="providerEmail">* Email</label>&nbsp;<span
                                        style="color: red;" th:if="${emailExists}">Fournisseur Existe déja.</span>
                                    <input required  type="email" class="form-control"
                                           id="providerEmail" name="email" th:field="*{provider.email}"/>
                                    <!--<p style="color: #828282">Enter Provider Email .</p>-->
                                </div>

                                <div class="form-group">
                                    <label for="providerTel">* Téléphone</label>&nbsp;
                                    <input required  type="tel" class="form-control"
                                           id="providerTel" name="tel" th:field="*{provider.tel}" />
                                    <!--<p style="color: #828282">Enter Provider Tel .</p>-->
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-6">

                                            <label for="street">*Rue</label>&nbsp;
                                            <input required  type="text" class="form-control"
                                                   id="street" name="street" th:field="*{address.street}"/>
                                            <!--<p style="color: #828282">Enter number .</p>-->
                                        </div>

                                        <div class="col-xs-6">
                                            <label for="Number">* Numéro</label>&nbsp;
                                            <input required  type="text" class="form-control"
                                                   id="Number" name="number" th:field="*{address.number}" />
                                            <!--<p style="color: #828282">Enter number .</p>-->

                                        </div>
                                    </div>

                                </div>

                                    <div class="form-group">

                                    <label class="col-md-2 control-label" for="city">* Ville</label>
                                    <div class="">
                                        <select th:field="*{address.city}" name="city" id="city" class="form-control" >
                                            <option value=""></option>
                                            <option th:each="city: ${cities}"
                                                    th:value="${city.id}"
                                                    th:text="${city.cityName+','+city.zipCode}"></option>

                                        </select>
                                    </div>
                                    </div>


                                    <div class="container login" aria-atomic="form-group">
                                        <button type="submit" class="btn btn-success">Ajouter</button>
                                        <a class="btn btn-danger" th:href="@{/provider/providerList}">Annuler</a>

                                    </div>



                            </form>
                        </div>
                    </div>
            </div>



        </div>



    </div>
</div>
</div>



<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<div th:replace="admin/common/header :: body-bottom-scripts" />

</body>
</html>

