<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/common/header :: common-header"/>


<style>
    body {

        background-image: url("../images/background/background.jpg");
        background-repeat: repeat

    }
</style>

<div>
    <div th:replace="admin/common/header :: navbar"/>

    <div class="container login">
        <div class="container login">
            <div class="">
                <h2><span>Nouvelle forme</span></h2>
            </div>
        </div>


        <div class="">

            <!-- create new shape -->

            <div class="panel panel-default" style="border: none;">
                <div class="panel-body"
                     style="background-color:#ededed; margin-top: 20px;">

                    <form th:action="@{/product/addShape}" method="post" th:object="${shape}">

                        <!--input type="hidden" th:field="*{id}">-->
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="shapeName">Description</label>&nbsp;<span
                                style="color: red;" th:if="${shapeExists}">Forme Existe Déja.</span>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="shapeName" name="shapeName"
                                       th:value="${shape.shapeName}"
                                       placeholder="" required/>
                                <span class="help-block"></span>
                            </div>
                        </div>

                            <div class="container login" aria-atomic="form-group">
                                <button type="submit" class="btn btn-success">Ajouter</button>
                            <a class="btn btn-danger" th:href="@{/product/shapeList}">Annuler</a>

                            </div>
                        </di>

                    </form>
                    <br>

                </div>


            </div>


        </div>


    </div>
    <div>


    </div>
</div>


<div th:replace="admin/common/header :: body-bottom-scripts"/>

</body>
</html>

