<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/common/header :: common-header"/>

<style>
    body {

        background-image: url("../images/background/background.jpg");
        background-repeat: repeat

    }
</style>

<body>
<div th:replace="admin/common/header :: navbar"/>

<div class="container">
    <div class=""></div>
</div>

<div class="alert alert-success" th:if="${deleteSuccess}">
    <strong>Commande Bien Supprimer!</strong>
</div>

<div>
    <div class="table-responsive">
        <table id="" class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
                <th>Numero</th>
                <th>Client</th>
                <th>Date</th>
                <th>Prix Total</th>
                <th>Nbre des produits</th>
                <th>Status</th>

            </tr>
            </thead>

        </table>
    </div>
</div>


<div th:replace="admin/common/header :: body-bottom-scripts"/>

</body>
</html>

