<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/common/header :: common-header"/>

<style>
    body {

        background-image: url("../images/background/background.jpg");
        background-repeat: repeat

    }
</style>

<body>
<div th:replace="admin/common/header :: navbar"/>






<div class="container">


    <div class="table-responsive">
        <div class="alert alert-success" th:if="${deleteSuccess}">
            <strong>Commande Bien Supprimer!</strong>
        </div>

        <!--< class="table-responsive">-->
        <table id="productListTable" class="table table-bordered table-hover table-striped">
            <div class="text-center">
                <h3>Liste des commandes</h3>
            </div>
            <thead>
            <tr>
                <th>Numéro</th>
                <th>Client</th>
                <th>Date commande</th>
                <th>Adresse</th>
                <th>Total</th>
                <th>Quantité</th>
                <th>Status</th>
                <th>Editer</th>

            </tr>
            </thead>
            <tbody>
            <tr class=""
                data-th-each="ordered : ${orderedList}"
                th:if="${ordered.shippingAddress != null and ordered.user != null and ordered.shippingAddress.city != null and ordered.status.name() != ordered.status.INVALID.name()}" >

                <td th:text="${ordered.id}"></td>


                <td th:text="${ordered.user.lastName+' '+ordered.user.firstName}"></td>

                <td th:text="${#dates.format(ordered.orderDate, 'dd-MM-yyyy')}"></td>


                <div th:if="${ordered.shippingAddress != null}">
                    <td th:text="${ordered.shippingAddress.street+' '+ordered.shippingAddress.number+', '+ordered.shippingAddress.city.zipCode+' '+ordered.shippingAddress.city.cityName}"></td>

                </div>

                <div th:if="${ordered.shippingAddress == null}">
                    <td th:text="${'Aucune Adresse'}"></td>
                </div>

                <td th:text="${#numbers.formatDecimal(ordered.total, 0 , 2)+' '+'DH'}"></td>
                <td th:text="${ordered.cartItemList.size()}"></td>
                <td th:text="${ordered.status}"></td>

                <div th:if="${ordered.getStatus().name() == ordered.getStatus().CLOTURER.name()}">
                    <td>
                        <span></span>
                    </td>
                </div>
                <div th:unless="${ordered.getStatus().name() == ordered.getStatus().CLOTURER.name()}">
                    <td>
                        <a th:href="@{/product/orderedDetail(id=${ordered.id})}">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </a>
                    </td>
                </div>





            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:replace="admin/common/header :: body-bottom-scripts"/>


</body>
</html>

