<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/common/header :: common-header"/>


<style>
    body {

        background-image: url("../images/background/background.jpg");
        background-repeat: repeat

    }
</style>


<body>
<div th:replace="admin/common/header :: navbar"/>


<div class="container">

    <form class="form-horizontal" th:action="@{/product/removelist}" method="post" enctype="multipart/form-data"
          th:objet="${container}">
        <input hidden="hidden" name="productList" th:field="*{container.productList}"/>
        <div class="table-responsive">
            <table id="productListTable" class="table table-bordered table-hover table-striped">
                <!--<caption>Liste des produits</caption>-->
                <div class="text-center">
                    <h3>Liste des produits</h3>
                </div>

                <thead>
                <tr>
                    <!--<th><input th:id="selectAllProducts" type="checkbox" /></th>-->
                    <th>Image</th>
                    <th>Designation</th>
                    <th>Forme</th>
                    <th>Dimensions</th>
                    <th>Catégorie</th>
                    <th>Prix</th>
                    <th>Stock</th>
                    <th>Editer</th>
                    <th>Supprimer</th>
                </tr>
                </thead>
                <tbody>
                <tr data-th-each="product , itemStat: ${container.productList}">
                    <!--<td>
                        <input hidden="hidden" name="id" th:value="${product.id}" />
                        <input th:id="'selected'+${product.id}" class="checkboxProduct" type="checkbox"  th:field="*{container.productList[__${itemStat.index}__].selected}"/>
                    </td>-->
                    <td>
                        <div th:if="${product.haveImages()}"
                             th:each="image : ${product.imagesList.get(0)}">
                            <img th:if="${image.fullURL != null}" th:src="@{${image.fullURL}}" width="100"
                                 height="80"/><!--</div> --><!-- </a>-->
                            <br/>
                        </div>
                    </td>
                    <td>
                        <span th:text="${product.productName}"></span>
                    </td>
                    <td th:text="${product.shape.shapeName}"></td>
                    <td><p><span th:text="${(product.dimension)}"></span> cm</p></td>

                    <td th:text="${product.category.categoryName}"></td>
                    <td th:text="${#numbers.formatDecimal(product.price, 0 ,2)+''+'DH'}"></td>

                    <div th:if="${product.inStockNumber == 0}">
                        <!--<h5 style="font-size: large;"></h5>-->
                        <td>
                            <p style="color: red;">Dernier article </p>
                        </td>
                    </div>
                    <div th:unless="${product.inStockNumber == 0}">
                        <td th:text="${product.inStockNumber}"></td>
                    </div>
                    <td>
                        <a th:href="@{/product/productInfo(id=${product.id})}"
                             class="glyphicon glyphicon-pencil btn btn-primary btn-xs"></button></a>
                    </td>

                    <!--<td>
                        <form class="form-horizontal" th:action="@{/product/remove2}" method="post"  enctype="multipart/form-data" th:objet="${product}">

                        <input hidden="hidden" name="id" th:value="${product.id}" />

                        <button th:id="'oneProd-'+${product.id}" class="btn btn-danger btn-xs delete-product"   type="submit" value="delete" >

                            <i class="glyphicon glyphicon-trash"></i> </button>

                        </form>
                    </td>-->

                    <div th:if="${product.cartItemList.size() == 0}">

                        <td>
                                <a class="glyphicon glyphicon-trash btn btn-danger btn-xs "
                                   th:attr="data-target='#modal-delete'+${product?.id}"
                                   data-rel="tooltip" title="delete" data-toggle="modal"></a>
                        </td>
                    </div>

                    <div th:if="${product.cartItemList.size() != 0}">
                        <td>
                            <p>Suppression impossible </p>
                        </td>
                    </div>

                    <div th:id="modal-delete+${product?.id}" class="modal fade"
                         tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header no-padding">
                                    <div class="table-header">Suppression</div>
                                </div>
                                <div class="modal-body no-padding">Êtes-vous sûr de vouloir supprimer
                                    <span th:text="${product.productName}">?</span>
                                </div>
                                <div class="modal-footer no-margin-top">
                                    <button class="btn btn-secondary pull-left"
                                            data-dismiss="modal"> Annuler
                                    </button>
                                    <a class="btn btn-danger pull-right" type="button"
                                       th:href="${'delete/'+ product?.id}"> Supprimer
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
                </tbody>
            </table>


        </div>
        <!--<button th:id="deleteSelected" class="btn btn-danger"  type="submit">suprimer</button>
            <a href="" >Suppression</a>-->
    </form>

</div>

<div class="text-center">

    <a th:href="@{/product/add}" role="button" class="btn btn-success">Nouveau produit</a>

</div>


<div th:replace="admin/common/header :: body-bottom-scripts"/>


</body>
</html>

