<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/common/header :: common-header"/>

<style>
    body {

        background-image: url("../images/background/background.jpg");
        background-repeat: repeat

    }
</style>

<body>
<div th:replace="admin/common/header :: navbar"/>

<div class="container">
    <div class="alert alert-success" th:if="${deleteSuccess}">
        <strong>Fournisseur Bien Supprimer!</strong>
    </div>

    <div>
        <div class="table-responsive">
            <table id="productListTable" class="table table-bordered table-hover table-striped">

                <!--
                            <table id="productListTable" class="table table-bordered table-hover table-striped">
                -->
                <!--<caption>Liste des Fournisseurs</caption>-->
                <div class="text-center">
                    <h3>Liste des Fournisseurs</h3>
                </div>
                <thead>
                <tr>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Télephone</th>
                    <th>Email</th>
                    <th>Adresse</th>
                    <th>Editer</th>
                    <th>Supprimer</th>
                </tr>
                </thead>
                <tbody>
                <tr class="result"
                    data-th-each="provider : ${providerList}">
                    <td th:text="${provider.firstName}"></td>
                    <td th:text="${provider.lastName}"></td>
                    <td th:text="${provider.tel}"></td>
                    <td th:text="${provider.email}"></td>

                    <!--<div th:if="${provider.addressList != 0}">
                        <td  th:each="address : ${provider.addressList}">
                            <div
                                    th:text="${address.fullAdress()}">
                            </div>
                            <a th:href="@{/provider/updateProviderAddress?id=}+${address.id}">
                                <i class="glyphicon glyphicon-pencil"></i></button></a>
                        </td>
                    </div>-->
                    <td th:text="${provider.address.fullAdress()}"></td>

                    <!--<div th:if="${provider.address == 0 }">
                        <td>
                            <span> Aucune adresse pour ce fournisseur</span>

                        </td>
                    </div>-->
                        <td>
                            <a th:href="@{/provider/updateProvider?id=}+${provider.id}">
                                <i class="glyphicon glyphicon-pencil"></i></button></a>
                        </td>

                    <div th:if="${provider.getProductList().size() == 0}">
                        <td>
                            <a class="glyphicon glyphicon-trash"
                               th:attr="data-target='#modal-delete'+${provider?.id}"
                               data-rel="tooltip" title="delete" data-toggle="modal"></a>
                        </td>
                    </div>

                    <div th:if="${provider.getProductList().size() != 0}">
                        <td>
                            <span>Suppression impossible</span>
                        </td>
                    </div>
                    <div th:id="modal-delete+${provider?.id}" class="modal fade"
                         tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header no-padding">
                                    <div class="table-header">Suppression</div>
                                </div>
                                <div class="modal-body no-padding">
                                    Êtes-vous sûr de vouloir supprimer?
                                </div>
                                <div class="modal-footer no-margin-top">
                                    <button class="btn btn-secondary pull-left"
                                            data-dismiss="modal"> Annuler
                                    </button>
                                    <a class="btn btn-danger pull-right" type="button"
                                       th:href="${'delete/'+ provider?.id}"> Supprimer
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<div class="text-center">
    <a th:href="@{/provider/addProvider}" role="button" class="btn btn-success">Nouveau fournisseur</a>

</div>

<div th:replace="admin/common/header :: body-bottom-scripts"/>

</body>
</html>

