<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/common/header :: common-header" />


<style>
    body{

        background-image: url("../images/background/background.jpg");
        background-repeat: repeat

    }
</style>

<body>
<div th:replace="admin/common/header :: navbar" />

<div class="container login">
    <div class="">
        <div class="container login">
            <div class="">
                <h2 ><span>Modifier Dimension</span></h2>
            </div>
        </div>
    </div>





    <div class="">

        <!-- create new shape -->

        <div class="panel panel-default" style="border: none;">
            <div class="panel-body"
                 style="background-color:#ededed; margin-top: 20px;">

                <form th:action="@{/product/editDimension}" method="post" th:object="${dimension}">
                    <input type="hidden" th:value="${dimension.id}" th:attr="name='id'"/>


                    <div class="form-group">
                        <label class="col-md-2 control-label" for="description">Dimension</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="description" name="description" th:value="${dimension.description}"
                                   placeholder=""  required/>
                            <span class="help-block"></span>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="col-md-12" aria-atomic="form-group">
                            <button type="submit" class="btn btn-success">Modifier la dimension</button>

                            <a class="btn btn-danger" th:href="@{/product/dimensionList}">Annuler</a>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>




<div th:replace="admin/common/header :: body-bottom-scripts" />

</body>
</html>
