
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/common/header :: common-header" />


<style>
    body{

        background-image: url("../images/background/background.jpg");
        background-repeat: repeat

    }
</style>

<body>
<div th:replace="admin/common/header :: navbar" />

<div class="container login">
    <div class="">
        <div class="text-center">
            <div class="">
                <h2 ><span>Modifier catégorie</span></h2>
            </div>
        </div>
    </div>





    <div class="">


        <div class="panel panel-default" style="border: none;">
            <div class="panel-body"
                 style="background-color:#ededed; margin-top: 20px;">

                <form th:action="@{/product/editCategory}" method="post" th:object="${category}">
                    <input type="hidden" th:value="${category.id}" th:attr="name='id'"/>


                    <div class="form-group">
                        <label class="col-md-2 control-label" for="categoryName">*Désignation</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="categoryName" name="categoryName" th:value="${category.categoryName}"
                                   placeholder=""  required/>
                            <span class="help-block"></span>
                        </div>
                    </div>


                        <div class="container login" aria-atomic="form-group">
                            <button type="submit" class="btn btn-success">Modifier</button>

                            <a class="btn btn-danger" th:href="@{/product/categoryList}">Annuler</a>
                        </div>


                </form>
            </div>
        </div>
    </div>
</div>




<div th:replace="admin/common/header :: body-bottom-scripts" />

</body>
</html>

