<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/common/header :: common-header"/>


<style>
    body {

        background-image: url("../images/background/background.jpg");
        background-repeat: repeat

    }
</style>

<body>
<div th:replace="admin/common/header :: navbar"/>

<div class="container login">

        <div class="text-center">

                <h2><span>Modifier Dimension</span></h2>

        </div>



    <div class="">

        <!-- create new shape -->

        <div class="panel panel-default" style="border: none;">
            <div class="panel-body"
                 style="background-color:#ededed; margin-top: 20px;">

                <form th:action="@{/product/editDimension}" method="post" th:object="${dimension}">
                    <input type="hidden" th:value="${dimension.id}" th:attr="name='id'"/>

                    <div class="form-group">
                    <div class="form-group">


                        <div class="row">
                            <label class="col-md-2 control-label" for="shape">*Forme</label>

                            <div class="col-xs-7">
                                <div class="">

                                    <select th:value="${dimension.shape.shapeName}" name="shape" id="shape"
                                            class="form-control"
                                            required>

                                        <option th:each="shape: ${shapes}"
                                                th:value="${shape.id}"
                                                th:text="${shape.shapeName}"
                                                th:selected="${dimension?.shape?.id} == ${shape.id}"
                                                ></option>

                                    </select>


                                </div>
                            </div>

                        </div>
                    </div>
                        <div class="row">
                            <label class="col-md-2 control-label" for="description">*Dimension</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" id="description" name="description"
                                       th:value="${dimension.description}"
                                       placeholder="" required/>
                                <span class="help-block"></span>
                            </div>
                        </div>

                    </div>

                        <div class="container login" aria-atomic="form-group">
                            <button type="submit" class="btn btn-success">Modifier</button>

                            <a class="btn btn-danger" th:href="@{/product/dimensionList}">Annuler</a>
                        </div>

                </form>
            </div>
        </div>
    </div>
</div>


<div th:replace="admin/common/header :: body-bottom-scripts"/>

</body>
</html>
