<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/common/header :: common-header" />


<style>
    body{

        background-image: url("../images/background/background.jpg");
        background-repeat: repeat

    }
</style>

<body>
<div th:replace="admin/common/header :: navbar" />

<div class="container login">
    <div class="">
        <div class="container login">
            <div class="">
                <h2 ><span>Modifier forme</span></h2>
            </div>
        </div>
    </div>

<!--
    <hr style="position:absolute; width:48%; height:3px; background-color: #333; z-index:-1; margin-top: -10px;  "/>
-->



    <div class="">

        <!-- create new shape -->

        <div class="panel panel-default" style="border: none;">
            <div class="panel-body"
                 style="background-color:#ededed; margin-top: 20px;">

                <form th:action="@{/product/editShape}" method="post" th:object="${shape}">
                    <input type="hidden" th:value="${shape.id}" th:attr="name='id'"/>


                    <div class="form-group">
                        <label class="col-md-2 control-label" for="shapeName">description</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="shapeName" name="shapeName" th:value="${shape.shapeName}"
                                   placeholder=""  required/>
                            <span class="help-block"></span>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="col-md-12" aria-atomic="form-group">
                            <button type="submit" class="btn btn-success">Modifier la forme</button>

                            <a class="btn btn-danger" th:href="@{/product/shapeList}">Annuler</a>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>




<div th:replace="admin/common/header :: body-bottom-scripts" />

</body>
</html>
