<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/common/header :: common-header"/>


<style>
    body {

        background-image: url("../images/background/background.jpg");
        background-repeat: repeat
    }
</style>


<body>
<div th:replace="admin/common/header :: navbar"/>


<div class="alert alert-success" th:if="${updateSuccess}">
    <strong>Update Success!</strong>
</div>

<div class="container">
    <div class="text-center">

            <h2><span>Modifier le produit</span></h2>

    </div>


    <div class="alert alert-success" th:if="${addSuccess}">
        <strong>Produit Bien Ajouté!</strong>
    </div>


    <div class="container login">
        <div class="panel-group">
            <div class="panel panel-default" style="border: none;">
                <div class="panel-body" style="background-color:#ededed; margin-top: 20px;">

                    <form
                            th:action="@{/product/updateProduct}" method="post"
                          th:objet="${product}">

                            <input type="hidden" th:value="${product.id}" th:attr="name='id'"/>
                            <input type="hidden" th:value="${product.imagesList}" th:attr="name='imagesList'"/>
                            <input type="hidden" th:value="${product.cartItemList}" th:attr="name='cartItemList'"/>
                            <!-- -->


                            <div class="form-group">
                                <label  for="productName"> * Désignation</label>
                                <div >
                                    <input type="text" class="form-control" id="productName" name="productName"
                                           th:value="${product.productName}" required />
                                    <!--
                                                            <span class="help-block">*Nomination</span>
                                    -->
                                </div>
                            </div>

                            <!--Shape -->
                        <div class="form-group">
                            <div class="row">
                            <div class="col-xs-6">
                                <label  for="shape">* Forme</label>
                                <div class="">
                                    <select th:value="${product.shape.shapeName}" name="shape" id="shape"
                                            class="form-control selectDimension" required>
                                        <!--option value=""></option>-->
                                        <option th:each="shape: ${shapes}"
                                                th:value="${shape.id}"
                                                th:text="${shape.shapeName}"></option>
                                        <!--
                                                                    <span class="help-block">Forme du produit</span>
                                        -->
                                    </select>
                                </div>
                            </div>

                            <div class="col-xs-6">
                                <label  for="shape">* Dimension</label>
                                <div class="">
                                    <div id="allDimension" th:each="d , row : ${dimensionList}"
                                         class="js-row-link-alt">
                                        <input type="hidden" th:id="${'dim' + row.index}" th:value="${d.shape.id}"/>
                                    </div>
                                    <select th:value="${product.dimension.description}" name="dimension" id="dimension"
                                            class="form-control" required>
                                        <<!--option value=""></option>-->
                                        <option th:each="dimension,row: ${dimensions}" class="hidden allDimension" th:id="${'dimension' + row.index}"
                                                th:value="${dimension.id}"
                                                th:name="${dimension.shape.id}"
                                                th:text="${dimension.description}"></option>

                                    </select>
                                </div>
                            </div>
                            </div>
                        </div>

                            <!-- Categorie -->

                        <div class="form-group">
                            <div class="row">
                            <div class="col-xs-6">
                                <label  for="category">* Categorie</label>
                                <div class="">
                                    <select id="category" name="category"  class="form-control"
                                            th:value="${product.category.categoryName}" required>
                                        <option th:each="category: ${categories}"
                                                th:value="${category.id}"
                                                th:text="${category.categoryName}"
                                                th:selected="${product?.category?.id} == ${category.id}"
                                        ></option>
                                    </select>

                                </div>

                            </div>

                            <!-- Provider-->

                            <div class="col-xs-6">
                                <label  for="provider">* Fournisseur</label>
                                <div >

                                    <select id="provider" name="provider" class="form-control"
                                            th:value="${product.provider.firstName + ' ' + product.provider.lastName}">
                                        <option th:each="provider: ${providers}"
                                                th:value="${provider.id}"
                                                th:text="${provider.firstName + ' ' + provider.lastName}"
                                                th:selected="${product?.provider?.id} == ${provider.id}">


                                        </option>
                                    </select>
                                    <!--
                                                            <span class="help-block">Fournisseur</span>
                                    -->
                                </div>
                            </div>
                            </div>
                        </div>
                            <!-- list price -->

                        <div class="form-group">
                            <div class="row">
                            <div class="col-xs-6">
                                <label for="price"> * Prix</label>
                                <div>
                                    <div class="input-group" >
                                        <span class="input-group-addon">DH</span>
                                        <input th:value="${product.price}" type="number" name="price"
                                               class="form-control" id="price" placeholder="le prix" step="0.01"
                                               required/>
                                    </div>
                                </div>
                            </div>
                                    <!--
                                                            <span class="help-block"> Prix</span>
                                    -->



                            <!-- in stock number -->

                            <div class="col-xs-6">
                                <label  for="inStockNumber"> * Stock</label>
                                <div >
                                    <input th:value="${product.inStockNumber}" type="number" name="inStockNumber"
                                           class="form-control" id="inStockNumber" placeholder="Le stock" required/>

                                    <!--
                                                            <span class="help-block">Quantité stock</span>
                                    -->
                                </div>
                            </div>
                            </div>
                        </div>

                            <div class="form-group">
                                <label  for="description">* Description</label>
                                <div class="">

                            <textarea name="description" rows="5" class="form-control" id="description"
                                      th:value="${product.description}"
                                      placeholder="description">[[${product.description}]]</textarea>
                                    <!--
                                                            <span class="help-block">description du produit</span>
                                    -->
                                </div>
                            </div>


                        <div class="container login" aria-atomic="form-group">

                            <button type="submit" class="btn btn-success">Modifier</button>
                            <a class="btn btn-danger" th:href="@{/product/productList}">Annuler</a>

                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- </div>-->
    </div>
</div>

<div th:replace="admin/common/header :: body-bottom-scripts"/>

</body>
</html>

