<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" >
<head th:fragment="common-header">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1">-->

    <title> Galerie Artisanale</title>

    <!-- Bootstrap core CSS -->

    <link href="/css/bootstrap.min.css" rel="stylesheet" />

    <link href="/css/non-responsive.css" rel="stylesheet" />

    <!-- data table -->
    <link th:href="@{/css/jquery.dataTables.min.css}" rel="stylesheet" />
    <link th:href="@{/css/dataTables.bootstrap.min.css}" rel="stylesheet" />

    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />

 <!--   <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea' });</script>-->

    <link href="/css/style.css" rel="stylesheet" />



</head>

<body>
<!-- th:fragment="navbar" -->

    <div th:fragment="navbar">

        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed"
                            data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" th:href="@{/}">Admin</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle"
                               data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">Produit <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{/product/add}">Ajouter un produit</a></li>
                                <li><a th:href="@{/product/productList}">Liste des produits</a></li>



<!--
                                <li><a href="#">Something else here</a></li>
-->

                            </ul>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav">

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle"
                               data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">Forme <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{/product/addShape}">Ajouter une forme</a></li>
                                <li><a th:href="@{/product/shapeList}">Liste des formes</a></li>

                            </ul>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav">

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle"
                               data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">Categorie <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{/product/addCategory}">Ajouter une Categorie</a></li>
                                <li><a th:href="@{/product/categoryList}">Liste des categories</a></li>

                            </ul>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav">

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle"
                               data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">fournisseur <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{/provider/addProvider}">Ajouter un fournisseur</a></li>
                                <li><a th:href="@{/provider/providerList}">Liste des fournisseures</a></li>

                            </ul>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a th:href="@{/logout}">Deconnexion</a></li>

                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

    </div>


    <div th:fragment="body-bottom-scripts">
        <script th:src="@{/js/jquery.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/bootbox.min.js}"></script>
        <script th:src="@{/js/scripts.js}"></script>

        <!-- data table -->
        <script th:src="@{/js/jquery.dataTables.min.js}"></script>
        <script th:src="@{/js/dataTables.bootstrap.min.js}"></script>

    </div>

</body>
</html>
