<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header"/>
<style>
    body {

        background-image: url("../images/background/background.jpg");
        background-repeat: repeat
    }
</style>
<body>
<div th:replace="common/header :: navbar"/>

<div class="container">

    <div class="row">
        <div class="col">

            <div>
                <ol class="breadcrumb text-center">
                    <li>
                        <ul class="nav navbar-nav navbar-left">
                            <li class="dropdown ">
                                <a th:href="@{/galerie}" class="dropdown-toggle"
                                   data-toggle="dropdown" role="button" aria-haspopup="true"
                                   aria-expanded="false">Recherche par catégories<span class="caret"></span>
                                </a>
                                <ul th:if="${categories != null}" class="dropdown-menu ">
                                    <li th:each="cat : ${categories}">
                                        <a th:href="${'/galerie/'+cat}">[[${cat}]]</a>
                                    </li>

                                </ul>
                            </li>


                            <li class="dropdown">
                                <a th:href="@{/galerie}" class="dropdown-toggle"
                                   data-toggle="dropdown" role="button" aria-haspopup="true"
                                   aria-expanded="false">Recherche par formes<span class="caret"></span>
                                </a>
                                <ul th:if="${shapes != null}" class="dropdown-menu ">

                                    <li th:each="shape : ${shapes}">
                                        <a th:href="${'/searchByShape/'+shape}">[[${shape}]]</a>

                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a th:href="@{/galerie}" class="dropdown-toggle"
                                   data-toggle="dropdown" role="button" aria-haspopup="true"
                                   aria-expanded="false">Recherche par dimensions<span class="caret"></span>
                                </a>
                                <ul th:if="${dimensions != null}" class="dropdown-menu ">

                                    <li th:each="dim : ${dimensions}">
                                        <a th:href="${'/searchByDimension/'+dim}">[[${dim}]]</a>

                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a th:href="@{/galerie}" class="dropdown-toggle"
                                   data-toggle="dropdown" role="button" aria-haspopup="true"
                                   aria-expanded="false">Recherche par prix<span class="caret"></span>
                                </a>
                                <div class="dropdown-menu breadcrumb">
                                    <div class="form-group  mt-5">

                                            <b class="mr-auto" style="">DH 100</b>
                                            <input id="priceRange" class="span2" data-slider-id='ex2Slider' value=""
                                                   type="text" data-slider-min="10" data-slider-max="50000"
                                                   data-slider-step="1" data-slider-value="[250,450]" data-slider-handle="triangle"/>
                                            <b class="ml-2" style="left: auto;">DH 50000</b>


                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ol>



            </div>

            <!-- </form>-->
        </div>
    </div>



</div>

<div id="products">
    <div th:replace="products :: list">
        <!--<div th:if = "${totalPages >0}">
            <div class="row col-sm-10">
                &lt;!&ndash;<div class="col-sm-2">
                    Total :[[${totalItems}]]
                </div>&ndash;&gt;
                <div class="col-sm-1">
            <span th:each="i:${#numbers.sequence(1,totalPages)}">
                <a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}}">[[${i}]]</a>
                <span th:unless="${currentPage != i}">[[${i}]]</span>&nbsp;&nbsp;
            </span>
                </div>
                <div class="col-sm-1">
                    <a th:if="${currentPage < totalPages}" th:href="@{'/page/'+${currentPage + 1}}">Suivant</a>

                    &lt;!&ndash;<span th:unless="${currentPage < totalPages}">precedent</span>&ndash;&gt;
                </div>

                <div class="col-sm-1">
                    <a th:if="${currentPage < totalPages}" th:href="@{'/page/'+${totalPages}}">fin</a>
                    &lt;!&ndash;<span th:unless="${currentPage < totalPages}">fin</span>&ndash;&gt;
                </div>
            </div>
        </div>-->

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center ">
                <li class="page-item disabled">
                    <a class="page-link" href="#"  tabindex="-1">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>

</div>



<script type='text/javascript'>
    $('#priceRange').slider({
        formatter: function (value) {

            return 'Current value: ' + value;
        }
    });
    $("#priceRange").on("slideStop", function (stopEvent) {
        var range = stopEvent.value;

        $.get("/products?min=" + range[0] + "&max=" + range[1], function (data) {
            $("#products").html(data);
        });
    });
</script>

<div th:replace="common/header :: footer"/>

<div th:replace="common/header :: body-bottom-scripts"/>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
</body>
</html>



