<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />


<style>
    body{

        background-image: url("../images/background/background.jpg");
        background-repeat: repeat

    }
</style>
<body>

<div th:replace="common/header :: navbar" />


<div class="container">
    <div class="row" >




        <div class="col-xs-8">
            <h2 class="section-headline"><span th:text="${#strings.toUpperCase(user.username)}">User Profile</span></h2>
        </div>

    </div>
    <hr style="position:absolute; width:75%; height:3px; background-color: #333; z-index:-1; margin-top: -10px;  "/>


    <!--
        <img class="img-responsive" src="" />
    -->

    <div class="row" style="margin-top:120px">
        <div class="col-xs-9 col-xs-offset-3">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li th:classappend="${classActiveEdit}? 'active'"><a
                        href="#tab1" data-toggle="tab"><span
                        style="color: red;">Profile</span></a></li>
                <li th:classappend="${classActiveOrders}? 'active'"><a
                        href="#tab-2" data-toggle="tab"><span
                        style="color: red;">Commande</span></a></li>

                <li th:classappend="${classActiveShipping}? 'active'"><a
                        href="#tab-3" data-toggle="tab"><span
                        style="color: red;">Livraison</span></a></li>
            </ul>

            <!-- Tab panels -->
            <div class="tab-content">

                <!-- Edit user information -->

                <div class="tab-pane fade" id="tab1" th:classappend="${classActiveEdit}? 'in active'">
                    <div class="panel-group">
                        <div class="panel panel-default" style="border: none;">
                            <div class="panel-body" style="background-color:#ededed; margin-top: 20px;">

                                <div class="alert alert-danger" th:if="${incorrectPassword}">
                                    <strong>Mot de passe Incorrect!</strong> Veuillez entrer le Bon Mot de passe.
                                </div>

                                <div class="alert alert-success" th:if="${updateSuccess}">
                                    <strong>Update Success!</strong>
                                </div>

                                <form th:action="@{/updateUserInfo}" method="post" >
                                    <input type="hidden" name="id" th:value="${user.id_user}" /><!-- id_user -->

                                    <div class="bg-info" th:if="${updateUserInfo}">Profile mis à jour mise a jour.</div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <label for="firstName">First Name</label>
                                                <input type="text" class="form-control" id="firstName" name="firstName" th:value="${user.firstName}" />
                                            </div>

                                            <div class="col-xs-6">
                                                <label for="lastName">Last Name</label>
                                                <input type="text" class="form-control" id="lastName" name="lastName" th:value="${user.lastName}" />
                                            </div>

                                        </div>

                                    </div>

                                    <div class="form-group">
                                        <label for="userName">UserName</label>
                                        <input type="text" class="form-control" id="username" name="username" th:value="${user.username}" />

                                    </div>

                                    <div class="form-group">
                                        <label for="tel">Tel</label>
                                        <input type="text" class="form-control" id="tel" name="tel" th:value="${user.tel}" />

                                    </div>

                                    <div class="form-group">
                                        <label for="currentPassword">Current Password</label>  <input
                                            type="password" class="form-control" id="currentPassword"
                                            name="password" th:value="${currentPassword}" />
                                    </div>

                                    <p style="color: #828282">Enter le mot de passe envoyé</p>

                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="email" class="form-control" id="email" name="email" th:value="${user.email}" />

                                    </div>
                                    <p style="color: #828282"> Une Adresse mail valide. </p>


                                    <div class="form-group">
                                        <label for="txtNewPassword">Password</label>&nbsp;<span
                                            id="checkPasswordMatch" style="color: red;"></span> <input
                                            type="password" class="form-control" id="txtNewPassword"
                                            name="newPassword" />
                                    </div>

                                    <div class="form-group">
                                        <label for="txtConfirmPassword">Confirm Password</label> ' <input
                                            type="password" class="form-control" id="txtConfirmPassword" />
                                    </div>



                                    <p style="color: #828282"> valider votre mot de passe.</p>

                                    <button type="submit" class="btn btn-primary">Enregistrer</button>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>



                <!-- Order Information -->
                <div class="tab-pane fade" id="tab-2"
                     th:classappend="${classActiveOrders}? 'in active'">
                    <div class="panel-group">
                        <div class="panel panel-default" style="border: none;">
                            <div class="panel-body"
                                 style="background-color: #ededed; margin-top: 20px;">

                                <table class="table table-sm table-inverse">
                                    <thead>
                                    <tr>
                                        <th>Date de Commande</th>
                                        <th>Numero de Commande</th>
                                        <th>Total</th>
                                        <th>Statut</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="ordered : ${orderedList}">
                                        <td><a th:href="@{/orderedDetail(id=${ordered.id})}"><span
                                                th:text="${ordered.orderedDate}"></span></a></td>
                                        <td data-th-text="${ordered.id}"></td>
                                        <td data-th-text="${ordered.orderedTotal}"></td>
                                        <td data-th-text="${ordered.orderedStatus}"></td>
                                    </tr>
                                    </tbody>
                                </table>

                                <div th:if="${displayOrderedDetail}">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="text-center">
                                                <h2>
                                                    Order Detail for Purchase #<span th:text="${ordered.id}"></span>
                                                </h2>
                                            </div>
                                            <hr />

                                            <div class="row">
                                                <div class="col-xs-4">
                                                    <div class="panel panel-default height">
                                                        <div class="panel-heading">
                                                            <strong>Billing Details</strong>
                                                        </div>
                                                        <div class="panel-body">
																<span
                                                                        th:text="${ordered.billingAddress.billingAddressName}"></span><br />
                                                            <span
                                                                    th:text="${ordered.billingAddress.billingAddressStreet1}+' '+${order.billingAddress.billingAddressStreet2}"></span><br />
                                                            <span
                                                                    th:text="${ordered.billingAddress.billingAddressCity}"></span><br />
                                                            <span
                                                                    th:text="${ordered.billingAddress.billingAddressState}"></span><br />
                                                            <span
                                                                    th:text="${ordered.billingAddress.billingAddressZipcode}"></span><br />
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--
                                                                                                <div class="col-xs-4">
                                                                                                    <div class="panel panel-default height">
                                                                                                        <div class="panel-heading">
                                                                                                            <strong>Payment Information</strong>
                                                                                                        </div>
                                                                                                        <div class="panel-body">
                                                                                                                <span th:text="${order.payment.holderName}">Card
                                                                                                                    Name</span><br /> <span th:text="${order.payment.cardNumber}">Card
                                                                                                                    Number</span><br /> <span>Exp Date:</span><span
                                                                                                                th:text="${order.payment.expiryMonth}"></span>/<span
                                                                                                                th:text="${order.payment.expiryYear}"></span><br />
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                -->
                                                <div class="col-xs-4">
                                                    <div class="panel panel-default height">
                                                        <div class="panel-heading">
                                                            <strong>Billing Details</strong>
                                                        </div>
                                                        <div class="panel-body">
																<span
                                                                        th:text="${ordered.shippingAddress.shippingAddressName}"></span><br />
                                                            <span
                                                                    th:text="${ordered.shippingAddress.shippingAddressStreet1}+' '+${ordered.shippingAddress.shippingAddressStreet2}"></span><br />
                                                            <span
                                                                    th:text="${ordered.shippingAddress.shippingAddressCity}"></span><br />
                                                            <span
                                                                    th:text="${ordered.shippingAddress.shippingAddressState}"></span><br />
                                                            <span
                                                                    th:text="${ordered.shippingAddress.shippingAddressZipcode}"></span><br />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="panel-heading">
                                                <h3 class="text-center">
                                                    <strong>Info Commande</strong>
                                                </h3>
                                            </div>
                                            <div class="panel-body">
                                                <div class="table-responsive">
                                                    <table class="table table-condensed">
                                                        <thead>
                                                        <tr>
                                                            <td><strong>Nom du produit</strong></td>
                                                            <td class="text-center"><strong>Prix</strong></td>
                                                            <td class="text-center"><strong>Quantité</strong></td>
                                                            <td class="text-right"><strong>Total</strong></td>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr th:each="cartItem : ${cartItemList}">
                                                            <td data-th-text="${cartItem.product.title}"></td>
                                                            <td class="text-center"
                                                                data-th-text="${cartItem.product.price}"></td>
                                                            <td class="text-center" data-th-text="${cartItem.qty}"></td>
                                                            <td class="text-center"
                                                                data-th-text="${cartItem.subtotal}"></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="highrow"></td>
                                                            <td class="highrow"></td>
                                                            <td class="highrow text-center"><strong>Total</strong></td>
                                                            <td class="highrow text-right"
                                                                data-th-text="${ordered.orderedTotal}"></td>
                                                        </tr>


                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Shipping Information -->
                <div class="tab-pane fade" id="tab-3"
                     th:classappend="${classActiveShipping}? 'in active'">
                    <div class="panel-group">
                        <div class="panel panel-default" style="border: none;">
                            <div class="panel-body"
                                 style="background-color: #ededed; margin-top: 20px;">

                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item active"><a
                                            th:href="@{/listOfShippingAddresses}"
                                            th:style="${listOfShippingAddresses}? 'color:red'">Adresse de livraison</a></li>
                                    <li class="breadcrumb-item active"><a
                                            th:href="@{/addNewShippingAddress}"
                                            th:style="${addNewShippingAddress}? 'color:red'">Ajouter ou Modifier</a></li>
                                </ol>

                                <div th:if="${listOfAddresses}">
                                    <form th:action="@{/setDefaultShippingAddress}" method="post">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>Default</th>
                                                <th>Adresse de livraison</th>
                                                <th>Operations</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="shipping : ${userShippingList}">
                                                <td><input type="radio"
                                                           name="defaultShippingAddressId"
                                                           th:value="${userShipping.id}"
                                                           th:checked="${userShipping.userShippingDefault}" /><span>default</span></td>
                                                <td
                                                        th:text="${userShipping.userShippingStreet1}+', '+
														${userShipping.userShippingCity}+', '+${userShipping.userShippingState}"></td>
                                                <td><a
                                                        th:href="@{/updateUserShipping(id=${userShipping.id})}"><i
                                                        class="fa fa-pencil"></i></a>&nbsp;&nbsp;<a
                                                        th:href="@{/removeUserShipping(id=${userShipping.id})}"><i
                                                        class="fa fa-times"></i></a></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <button class="btn btn-primary" type="submit">Enregistrer</button>
                                    </form>
                                </div>

                                <div th:if="${addNewShippingAddress}">
                                    <form th:action="@{/addNewShippingAddress}" method="post">
                                        <div class="bg-info" th:if="${updateUserShippingInfo}">User
                                            info updated.</div>

                                        <input hidden="hidden" name="id"
                                               th:value="${userShipping.id}" />

                                        <!-- Shipping Address -->
                                        <hr />
                                        <div class="form-group">
                                            <h4>Shipping Address</h4>
                                        </div>
                                        <div class="form-group">
                                            <label for="shippingName">* Name</label> <input type="text"
                                                                                            class="form-control" id="shippingName"
                                                                                            placeholder="Receiver Name" th:name="userShippingName"
                                                                                            required="required"
                                                                                            th:value="${userShipping.userShippingName}" />
                                        </div>
                                        <div class="form-group">
                                            <label for="shippingAddress">* Street Address</label> <input
                                                type="text" class="form-control" id="shippingAddress"
                                                placeholder="Street Address 1"
                                                th:name="userShippingStreet1" required="required"
                                                th:value="${userShipping.userShippingStreet1}" /> <input
                                                type="text" class="form-control"
                                                placeholder="Street Address 2" th:name="userShppingStreet2"
                                                th:value="${userShipping.userShippingStreet2}" />
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <label for="shippingCity">* City</label> <input
                                                        type="text" class="form-control" id="shippingCity"
                                                        placeholder="Shipping City" th:name="userShippingCity"
                                                        required="required"
                                                        th:value="${userShipping.userShippingCity}" />
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <label for="shippingState">* State</label> <select
                                                        id="shippingState" class="form-control"
                                                        th:name="userShippingState"
                                                        th:value="${userShipping.userShippingState}"
                                                        required="required">
                                                    <option value="" disabled="disabled">Please
                                                        select an option</option>
                                                    <option th:each="state : ${stateList}" th:text="${state}"
                                                            th:selected="(${userShipping.userShippingState}==${state})"></option>
                                                </select>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <label for="shippingZipcode">* Zipcode</label> <input
                                                        type="text" class="form-control" id="shippingZipcode"
                                                        placeholder="Shipping Zipcode"
                                                        th:name="userShippingZipcode" required="required"
                                                        th:value="${userShipping.userShippingZipcode}" />
                                                </div>
                                            </div>
                                        </div>

                                        <hr />
                                        <button type="submit" class="btn btn-primary btn-lg">Save
                                            All</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>








            </div>



        </div>
    </div>
</div>

<div th:replace="common/header :: footer"/>


<div th:replace="common/header :: body-bottom-scripts" />


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
</body>
</html>
