<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />

    <link href="/css/non-responsive.css" rel="stylesheet" />

    <link href="/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet" />

    <style>
        table {
            border-collapse: collapse;
        }

        table, th, td {
            border:1px solid black;}
    </style>
</head>
<body>
<p>Bonjour <span th:text="${user.firstName}"></span>,</p>
<br/>
<p>Merci pour votre confiance</p>
<p>Votre numéro de commande: <strong>#<span th:text="${ordered.id}"></span></strong>.  </p>
<h2>Détails de la commande<span th:text="${' '+ordered.id}"></span></h2>
<hr/>

<table>
    <tr>
        <th>Adresse de livraison</th>
        <th>Adresse de facturation</th>
    </tr>
    <tr>
        <td>
            <span th:text="${ordered.shippingAddress.fullAdress()}"></span><br/>

        </td>

        <td>
            <span th:text="${ordered.billingAddress.fullAdress()}"></span><br/>

        </td>
    </tr>
</table>

<h3><strong>Détails des produits</strong></h3>
<table>
    <thead>
    <tr>
        <td><strong>Nom du produit</strong></td>
        <td class="text-center"><strong>Prix</strong></td>
        <td class="text-center"><strong>Quantité</strong></td>
        <td class="text-right"><strong>Total</strong></td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cartItem : ${cartItemList}">
        <td><span data-th-text="${cartItem.product.productName}"></span></td>
        <td class="text-center" data-th-text="${cartItem.product.price}"></td>
        <td class="text-center" data-th-text="${cartItem.qty}"></td>
        <td class="text-right" data-th-text="${(cartItem.product.price)*(cartItem.qty)}"></td>
    </tr>
    <tr>
        <td class="highrow"></td>
        <td class="highrow"></td>
        <td class="highrow text-center"><strong>Total</strong></td>
        <td class="highrow text-right" data-th-text="${ordered.total}"></td>
    </tr>

    </tbody>
</table>

<br/>
<p>Bien à vous,</p>
<p>Galerie Artisanale</p>

</body>
</html>
