<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header" />

<style>
    body{
        background-image: url("../images/background/background.jpg");
        background-repeat: repeat
    }
</style>
<body>

<div th:replace="common/header :: navbar" />

<div class="container">

    <div class="row" style="margin-top: 10px;">
        <div class="col-xs-12">
            <div class="alert alert-success">
                <h3>
                    <i class="fa fa-check" aria-hidden="true"
                       style="color: limegreen;"></i> Une confirmation est envoyée par e-mail.
                </h3>
            </div>

            <h3>Liste des produits</h3>

            <div class="row" th:each="cartItem : ${shoppingCart.getCartItemList()}">
                <hr />
                <div class="col-xs-2">

                    <a th:href="@{/productDetail(id=${cartItem.product.id})}">
                        <img th:if="${cartItem.getFirstImageFullUrl() != null}"
                             class=""
                             th:src="@{${cartItem.getFirstImageFullUrl()}}"
                             style="width: 70px;" />

                    </a>


                </div>
                <div class="col-xs-6">
                    <div style="margin-left: 50px;">
                        <a th:href="@{/productDetail?id=}+${cartItem.product.id}"><h4
                                th:text="${cartItem.product.productName}"></h4></a>
                    </div>
                </div>
                <div class="col-xs-2">
                    <h5 style="font-size: large;" th:text="${cartItem.qty}"></h5>
                    <!--<p th:if="${cartItem.qty&gt;cartItem.product.inStockNumber}"
                       style="color: red;">Stock indisponible </p>-->
                </div>

                <div class="col-xs-2">
                    <h5>

                        <span th:text="${#numbers.formatDecimal(cartItem.product.price, 0 ,2)}">
                                 </span><span>DH</span>
                    </h5>
                </div>




                <br/>
            </div>

            <h4 class="col-xs-12 text-right">
                <strong style="font-size: large;">Total de la commande:
                </strong> <span style=" font-szie: large;"><span
                    th:text="${#numbers.formatDecimal(shoppingCart.total, 0 ,2)}"></span> DH</span>
            </h4>
        </div>
    </div>
</div>




<div th:replace="common/header :: footer"/>

<div th:replace="common/header :: body-bottom-scripts" />



</body>
</html>
