<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header"/>

<body>
<div th:replace="common/header :: navbar"/>

<div class="container">
    <div class="row" style="margin-bottom: -100px;">
        <div class="col-xs-8">
            <h2 class="section-headline">
                <h2 class="section-headline">
                    <span th:text="${user}? ${#strings.toUpperCase(user.username)} : ''"></span>
                </h2>
            </h2>
        </div>

    </div>
    <!--    <hr
                style="position: absolute; width: 100%; height: 6px; background-color: #333; z-index: -1; margin-top: -80px;"/>-->


    <form th:action="@{/shoppingCart/cart}" method="post" th:object="${cartItem}">
        <input hidden="hidden" th:field="*{product}"/>
        <div class="row" style="margin-top: 120px;">
            <div class="col-xs-3">

                <a th:href="@{/galerie}"> Continuer mes achats </a><br/><br>
                <table>

                    <td>

                        <div th:if="${product.haveImages()}"
                             th:each="image : ${product.imagesList}">
                            <img th:if="${image.fullURL != null}" th:src="@{${image.fullURL}}"
                                 class="thumbnail active" width="50" height="60"/>
                        </div>

                    </td>

                    <td>
                        <div class="col-xs-3">
                            <img id="featured" class="arrow" width="190" height="210"
                                 th:src="@{${product.imagesList.get(1).fullURL}}"/>

                        </div>
                    </td>

                </table>


            </div>

            <div class="col-xs-9">
                <h3><span th:if="${addProductSuccess}" style="color: forestgreen"><i class="fa fa-check"
                                                                                     aria-hidden="true"
                                                                                     style="color: forestgreen"></i>Ajouter au panier.</span>
                </h3>
                <h3><span th:if="${notEnoughStock}" style="color: red">Oups, Que <span
                        th:text="${product.inStockNumber}"></span>En Stock.</span></h3>
                <h3 th:text="${product.productName}"></h3>
                <div class="row">
                    <div class="col-xs-5">


                        <span>Hauteur:  <span th:text="${product.height}"></span></span> m<br/>
                        <span>Largeur:      <span th:text="${product.width}"></span> m</span><br/>

                    </div>


                    <div class="col-xs-7">
                        <div class="panel panel-default" style="border-width: 5px; margin-top: 20px;">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <h4>prix: <span style="color:#db3208;"><span th:text="${product.price}"></span></span>
                                            DH</h4>
                                        <!--    <p>You save: $<span th:text="${#numbers.formatDecimal((product.listPrice - product.price), 0, 'COMMA', 2, 'POINT' )}"></span></p> -->
                                        <span>Quantité: </span>
                                        <select th:field="*{qty}">
                                            <option th:each="qty : ${qtyList}" th:value="${qty}" th:text="${qty}">
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-xs-6">
                                        <h4 th:if="*{product.inStockNumber&gt;10}" style="color: green">En Stock</h4>
                                        <h4 th:if="*{product.inStockNumber&lt;10 and product.inStockNumber&gt;0}"
                                            style="color: green">Que <span th:text="${product.inStockNumber}"> </span>
                                            En Stock</h4>
                                        <h4 th:if="*{product.inStockNumber==0}" style="color:darkred;"></h4>
                                        <button type="submit" class="btn btn-warning"
                                                style="color:darkgrey;border:1px solid black; padding: 10px 40px 10px 40px;">
                                            Ajouter au panier
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr/>
                <p th:utext="${product.description}"></p>
            </div>
        </div>
    </form>


</div>

<div th:replace="common/header :: footer"/>

<div th:replace="common/header :: body-bottom-scripts"/>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
</body>
</html>
