<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header"/>


<style>
    body {

        background-image: url("../images/background/background.jpg");
        background-repeat: repeat

    }
</style>

<body>
<div th:replace="common/header :: navbar"/>

<div class="container">
<div class="container login">

    <h2 class=""><span>Mot de passe oublié</span></h2>

</div>
<div class="container login">



    <div class="panel-group">
        <div class="panel panel-default" style="border: none;">
            <div class="panel-body"
                 style="background-color:#ededed; margin-top: 20px;">


               <!-- <div class="alert alert-danger" th:if="${incorrectPassword}">
                    <strong>Mot de passe envoyé incorrect!</strong> Veuillez réessayer.
                </div>

                <div class="alert alert-success" th:if="${updateSuccess}">
                    <strong>Update Success!</strong>
                </div>

                <div class="bg-info" th:if="${updateSuccess}">Profile est mis à jour.</div>-->

                <form th:action="@{/resetPassword}" method="post">
                    <input type="hidden" name="id_user" th:value="${user.id_user}"/><!-- id_user -->
                    <input type="hidden" name="password" th:value="${user.password}"/><!-- id_user -->


                    <div class="form-group">
                        <label for="txtNewPassword">*Mot de passe</label>&nbsp;<span
                            id="checkPasswordMatch"></span> <input
                            type="password" class="form-control" id="txtNewPassword"
                            name="newPassword" required/>
                    </div>
                    <div class="form-group">

                        <label for="txtConfirmPassword">*Confirmer</label> <input
                            type="password" class="form-control" id="txtConfirmPassword" required/>

                    </div>

                    <!--<div class="container login">
                        <button id="updateUserInfoButton" type="submit" class="btn btn-primary">
                            Enregistrer
                        </button>

                    </div>-->

                    <div class="container login" aria-atomic="form-group">
                        <button id="updateUserInfoButton" type="submit" class="btn btn-success">Modifier</button>
                        <a class="btn btn-danger" th:href="@{/}">Annuler</a>
                    </div>

                </form>


            </div>
        </div>
    </div>
</div>
</div>
<div th:replace="common/header :: footer"/>


<div th:replace="common/header :: body-bottom-scripts"/>
</body>
</html>
