<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header"/>


<body>
<div th:replace="common/header :: navbar"/>


<div class="container">


    <div class="alert alert-success" th:if="${addSuccess}">
        <strong>Produit Bien Ajouté!</strong>
    </div>
    <div th:if="${shoppingCart == null or shoppingCart.getCartItemCount()==0}" class="alert alert-warning">
        Oops,
        votre panier est vide....
    </div>

    <div class="row" style="margin-top: 10px;">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-6 text-left">
                    <a class="btn btn-warning" th:href="@{/galerie}">Continuer les achats</a>
                </div>
                <a th:if="${shoppingCart != null and shoppingCart.cartItemList != null and shoppingCart.getCartItemCount() != 0}"
                   th:href="@{/confirm(id=${shoppingCart.id})}" class="btn btn-success">Valider le panier</a>
                <br/>
                <br/> <br/>
                <div th:unless="${shoppingCart == null or shoppingCart.getCartItemCount()==0}">
                <div class="row" >
                    <div class="col-xs-8 ">
                        <h4 style="margin-left:70px;">Produits</h4>
                    </div>
                    <div class="col-xs-2">
                        <h4>Prix</h4>
                    </div>
                    <div class="col-xs-2">
                        <h4>Quantité</h4>
                    </div>
                </div>

                <!--**************** display products in cart ****************-->
                <div >
                    <div class="row" th:each="cartItem : ${shoppingCart.getCartItemList()}">
                        <form th:action="@{/shoppingCart/updateCartItem}" method="post">
                            <hr/>
                            <div class="col-xs-2">
                                <a th:href="@{productDetail(id=${cartItem.product.id})}">
                                    <div th:if="${cartItem.product.haveImages()}"
                                         th:each="image : ${cartItem.product.imagesList}">
                                        <img th:if="${image.fullURL != null}" th:src="@{${image.fullURL}}" width="100"
                                             height="80"/><!--</div> --><!-- </a>-->
                                        <br/>
                                    </div>
                                </a>
                            </div>
                            <div class="col-xs-6">
                                <div style="margin-left:50px;">
                                    <a th:href="@{/productDetail?id=}+${cartItem.product.id}"><h4
                                            th:text="${cartItem.product.productName}"></h4></a>
                                    <p th:if="${cartItem.product.inStockNumber&gt;10}"
                                       style="color: green;">EN Stock</p>
                                    <p
                                            th:if="${cartItem.product.inStockNumber&lt;10 and cartItem.product.inStockNumber&gt;0}"
                                            style="color: green;">
                                        Que <span th:text="${cartItem.product.inStockNumber}"></span> En
                                        Stock
                                    </p>

                                    <p th:if="${cartItem.product.inStockNumber==0}"
                                       style="color: darkred;">Produit indisponible</p>

                                    <div>
                                        <input hidden="hidden" name="itemId" th:value="${cartItem.getId()}"/>

                                        <a class="glyphicon glyphicon-trash"
                                           th:attr="data-target='#modal-delete'+${cartItem?.getId()}"
                                           data-rel="tooltip" title="delete" data-toggle="modal"></a>
                                    </div>
                                </div>

                                <div th:id="modal-delete+${cartItem?.getId()}" class="modal fade"
                                     tabindex="-1">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header no-padding">
                                                <div class="table-header">Suppression</div>
                                            </div>
                                            <div class="modal-body no-padding">Vous étes sûr de
                                                supprimer cette ligne de commande?
                                            </div>

                                            <div class="modal-footer no-margin-top">
                                                <button class="btn btn-danger pull-left"
                                                        data-dismiss="modal"> Annuler
                                                </button>

                                                <a class="btn btn-danger pull-right" type="button"
                                                   th:href="${'deleteItem/'+ cartItem?.getId()}">Supprimer
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-xs-2">
                                <h5 style="color: #db3208; font-size: large;">
                                <span th:text="${#numbers.formatDecimal(cartItem.product.price, 0 ,2)}"
                                      th:style="${cartItem.product.inStockNumber}==0? 'text-decoration: line-through' : ''"></span>DH
                                </h5>
                            </div>

                            <div class="col-xs-2">
                                <input hidden="hidden" name="itemID" th:value="${cartItem.getId()}"/>
                                <input
                                        th:id="${cartItem.product.getId()}" th:name="qty"
                                        th:disabled="${cartItem.product.inStockNumber==0}"
                                        class="form-control cartItemQty"
                                        th:value="${cartItem.qty}"
                                        type="number"
                                        min="1"
                                        th:max="${cartItem.product.inStockNumber}"/>
                                <button style="display: none;"
                                        th:id="'update-item-'+${cartItem.product.getId()}" type="submit"
                                        class="btn btn-warning btn-xs">Editer
                                </button>

                                <!-- <select th:field="*{cartItem.qty}">
                                     <option th:each="qty : ${qtyList}" th:value="${cartItem.id}" th:text="${cartItem.qty}" th:disabled="${cartItem.product.inStockNumber==0}" class="form-control cartItemQty">
                                     </option>
                                 </select>-->

                            </div>
                        </form>
                    </div>

                    <div class="row">
                        <hr/>
                        <h4 class="col-xs-12 text-right">
                            <strong style="font-size: large;">Prix total :
                            </strong> <span style="color: #db3208; font-szie: large;">
                            <span th:text="${#numbers.formatDecimal(shoppingCart.total, 0 ,2)}"></span>DH</span>

                        </h4>
                    </div>
                </div>
                </div>

            </div>
        </div>
    </div>

</div>
<!-- end of container -->


<div th:replace="common/header :: footer"/>


<div th:replace="common/header :: body-bottom-scripts"/>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
</body>
</html>
