<div th:if = "${totalPages >1}">
    <div class="row col-sm-10">
        <div class="col-sm-2">
            Total Rows:[[${totalItems}]]
        </div>
        <div class="col-sm-1">
            <span th:each="i:${#numbers.sequence(1,totalPages)}">
                <a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}}">[[${i}]]</a>
                <span th:unless="${currentPage != i}">[[${i}]]</span>&nbsp;&nbsp;
            </span>
        </div>
        <div class="col-sm-1">
            <a th:if="${currentPage < totalPages}" th:href="@{'/page/'+${currentPage + 1}}">Suivant</a>
            <span th:unless="${currentPage < totalPages}">Suivant</span>
        </div>

        <div class="col-sm-1">
            <a th:if="${currentPage < totalPages}" th:href="@{'/page/'+${totalPages}}">fin</a>
            <span th:unless="${currentPage < totalPages}">fin</span>
        </div>
    </div>
</div>


@GetMapping("/page/{pageNo}")
public String findPaginated(@PathVariable(value="pageNo")int pageNo,Model model){
int pageSize = 8;
Page<Product> page = productService.findPagination(pageNo,pageSize);
    List<Product> productList = page.getContent();
        model.addAttribute("currentPage",pageNo);
        model.addAttribute("totalPages",page.getTotalPages());
        model.addAttribute("productList",productList);
        return "galerie";
        }
